<!DOCTYPE html>
<html>
<head>
    <title>Secure DOM Page</title>
</head>
<body>
    <!--Secure DOM Handling prevents DOM-based XSS-->
    <h1>Secure DOM Handling</h1>

    <p>This page safely displays content from the URL hash without executing scripts.</p>

    <div id="output" style="padding:10px; border:1px solid #ccc;"></div>

    <script>
        // GET hash value from URL
        // window.location.hash contains everything after'#'
        let value = window.location.hash.substring(1);

        // safe RENDERING using .textContent
        //textcountnet prevents HTML, Javascript, or SVG Payload
        document.getElementById("output").textContent = value;
    </script>
    <!--simple example to show how the page behaves safely-->
    <p>Example:</p>
    <code>#HelloWorld</code>

</body>
</html>
