<!DOCTYPE html>
<html>
<head>
    <title>Secure Login</title>
</head>
<body>

    <h1>Login</h1>
    {% if error_message %}
        <p style="color: red; font-weight: bold;">
        {{ error_message }}
        </p>
    {% endif %}

    <form method="POST">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        

        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="/register">Register</a></p>

</body>
</html>
