<!DOCTYPE html>
<html>
<head>
    <title>Posts (Secure)</title>
</head>
<body>
    <!--secure post html: all content is autoescape by Jinja2-->
    <h1>All Posts</h1>
    <!-- navigation links-->
    <a href="/create">Create New Post</a>
    <a href="/logout" style="margin-left:20px;">Logout</a>

    <hr>

    {% if posts %}
        {% for post in posts %}
            <h2>{{ post.title }}</h2>
            <!-- Jinja autoescape content prevents stored XSS-->
            <p>{{ post.content }}</p>
            <hr>
        {% endfor %}
    {% else %}
        <p>No posts found.</p>
    {% endif %}

</body>
</html>
